.ProfilePic {
    -webkit-clip-path: polygon(20% 0, 100% 0, 100% 70%, 80% 100%, 0 100%, 0 30%);
    clip-path: polygon(20% 0, 100% 0, 100% 70%, 80% 100%, 0 100%, 0 30%);
    transition-property: clip-path, color, background-color;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}


.ProfilePic:hover {
    -webkit-clip-path: polygon(0 0, 80% 0, 100% 30%, 100% 100%, 20% 100%, 0 70%);
    clip-path: polygon(0 0, 80% 0, 100% 30%, 100% 100%, 20% 100%, 0 70%);
}

.Username {
    padding-right: 10px;
}