.Menu {
    background-color: #111111;
    text-align: right;
}

.Option {
    color: #fafafa;
}

.Option:active {
    background-color: #fafafa;
    color: #111111;
}

.DropdownContainer {
    background-color: #00000000;
    padding: 0 0 0 0;
    border: none;
}

.DropdownContainer:hover {
    background-color: #00000000;
}

.DropdownContainer:active {
    background-color: #00000000 !important;
    border-color: #00000000 !important;
    border: none !important;
}

.DropdownContainer:focus {
    background-color: #00000000 !important;
    border-color: #00000000 !important;
    border: none !important;
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0) !important;
}

.DropdownMenu {
    background-color: #111111;
    -webkit-clip-path: polygon(20% 0, 100% 0, 100% 70%, 80% 100%, 0 100%, 0 30%);
    clip-path: polygon(20% 0, 100% 0, 100% 70%, 80% 100%, 0 100%, 0 30%);
}

.DropdownItem {
    color: #fafafa;
}