.ProfileContainer {
    padding-left: 0px;
    padding-right: 0px;
}

.ProfileScrollLock {
    overflow-x: hidden;
}

.Rule {
    background-color: #fafafa;
}

.Profiles {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.Profiles::-webkit-scrollbar {
    display: none;
}