.Footer {
    justify-content: space-between !important;
    padding-bottom: 15px;
}

.Footer * {
    color: #fafafa !important;
}

.Navlinks {
    display: block;
    padding: 0.5rem 1rem;
}

.Navlinks:hover {
    text-decoration: none;
}

.Shadow {
    filter: drop-shadow(0px 0px 3px #000000);
}

