.QuestionObject {
    background-color: #111111;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 15px;
}

.QuestionHead {
    padding-left: 0px;
    padding-right: 0px;
}

.QuestionAvatar {
    display: flex;
}

.ProfileName {
    padding-left: 0.5rem;
    color: #fafafa;
}


.HeadRightCol {
    text-align: right;
}

.QuestionMetrics {
    padding: 0rem;
    padding-top: 5px;
}

.Metric {
    line-height: 1.1rem;
}

.Interactions {
    text-align: right;
}

.Interaction {
    padding-left: 10px;
    text-decoration: none;
    color: #fafafa;
}

.Rule{
    background-color: #fafafa;
}

.Link {
    color: #fafafa !important;
    text-decoration: none !important;
}