.QuestionObject {
    background-color: #111111;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
    padding-left: 0px;
    padding-right: 0px;
}

/* .QuestionObjectMedia {
    flex-direction: column;
} */

.QuestionHead {
    padding-left: 0px;
    padding-right: 0px;
}

.QuestionAvatar {
    display: flex;
}

.ProfileName {
    padding-left: 0.5rem;
    color: #fafafa;
}


.HeadRightCol {
    text-align: right;
}