.App {
    background-color: #1a1a1a;
    /* min-height: 100vh;
    max-height: 100vh; */
    color: #fafafa;
}

.AppContainer {
    padding-top: 40px;
    padding-bottom: 50px;
    width: 100%;
}

.App-header > p {
    text-align: center;
}